

a:hover {
  color: orange;
}

/*Index/About Me Page Styles*/

* {
    font-family: 'Lucida Sans','Verdana','Arial Rounded MT Bold', sans-serif;
    color: #d9d9d9;
    font-size: 16px;
    /* background-color: #343434; */
}

p {
    line-height: 1.5;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #d9d9d9;
}


div.container {
    width: 600px;
    margin: 0 auto;
    background-color: #343434;

    /* border: 1px solid #559de6; */
}


header {
    text-align: center;
    background-color: lightslategrey;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

header h1 {
    font-family: 'Cambria', 'Lucida Bright', 'Book Antiqua', serif;
    font-style: italic;
    font-size: 52px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 0px;
    /* border: 1px solid green; */
}

header h2 {
    font-family: 'Cambria', 'Lucida Bright', 'Book Antiqua', serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 22px;
    color: orange;
    margin-left: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* border: 1px solid blue; */
}

/* header nav ul {
    border: 1px solid purple;
}
 */

header nav ul li {
    display: inline;
    margin: 0 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-left: 1px solid orange;
    border-bottom: 1px solid orange;
}

header a {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}


footer {
    /* border: 1px solid red; */
    background-color: lightslategray;
}

/* footer ul {
    border: 1px solid blueviolet;
} */

footer ul li{
    display: inline-block;
    margin-right: 15px;
    /* border: 1px solid green; */
    vertical-align: bottom;

}

#copyright {
    font-size: 10px;
    margin-left: 230px;
    /* border: 1px solid yellow; */
}


div.photo-box {
    width: 200px;
    display: inline-block;
    margin-left: 20px;
}

div.text-box {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    padding: 15px;
    border: 1px solid grey;
}

section.about-me-section {
    margin-bottom: 40px;
}

section.about-me-section h3 {
    font-family: 'Cambria', 'Lucida Bright', 'Book Antiqua', serif;
    font-size: 28px;
    margin-bottom: 10px;
}


.icons {
    margin-right: 10px;
}

a.links-in-article {
    font-family: 'Courier New', Courier, monospace;
}

section.links-section {
    margin-bottom: 30px;
    /* border: 1px solid salmon; */
}

ul.links-section {
    padding-left: 0px;
}

/* Contact form page styles */

main.contact-page {
    margin: 40px;

}

h3 {
    font-family: 'Cambria', 'Lucida Bright', 'Book Antiqua', serif;
    font-size: 28px;
    margin-bottom: 10px;
}

div.form-container {
    margin-top: 20px;
    border: 1px solid grey;
    padding: 20px;
    width: 500px;
}

input, textarea {
    background-color: lightgrey;
}

input[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

/* Projects page styles */

main.projects-page {
    margin: 40px;
}

h3.projects-page {
    font-family: 'Cambria', 'Lucida Bright', 'Book Antiqua', serif;
    font-size: 28px;
    margin-bottom:30px;
}

div.project-img {
    margin-bottom: 30px;
}


